h1,
h2,
h3,
h4,
h5 {
    color: white;
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
    margin: 0;
    padding: 0;
}

body {
    color: #7f8d9e;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.58;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: #191b21;
    font-family: sans-serif;
    display: block;
}

a {
    color: #3273dc;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #3273dc;
}

.outer {
    text-align: center;
    margin: 0 auto;
}

.content {
    max-width: 1000px;
    min-height: 90vh;
    margin: 56px auto;
    padding-left: 20px;
    padding-right: 20px;
}

.block {
    text-align: center;
    background-color: #2d2f39;
    padding: 30px;
}

.profile {
    margin-top: -60px;
}

.profile h1 {
    font-size: 1.6em;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 1em;
}

.profile .location {
    margin-top: 10px;
    font-size: 0.9em;
}

.profile .bio {
    color: white;
    margin-top: 10px;
    font-size: 0.9em;
}

.links {
    margin-top: 25px;
}

.links .contactbutton {
    background-color: #2d2f39;
    color: #7f8d9e;
    border: #7f8d9e 1px solid;
    cursor: pointer;
    justify-content: center;
    padding-bottom: 0.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.75em;
    text-align: center;
    white-space: nowrap;
}

.links .contactbutton {
    color: white;
    border: white 1px solid;
}

.link {
    position: relative;
    margin-top: 30px;
    margin-left: 10px;
    text-align: left;
    padding: 20px;
    padding-left: 70px;
    display: block;
    font-size: 0.8em;
}

.link h2 {
    font-size: 0.9em;
    margin: 0px;
    line-height: 1em;
}

.link .image-float {
    position: absolute;
    width: 60px;
    height: 60px;
    left: -10px;
    margin-top: -12px;
}

.link .image-float .image img {
    width: 60px;
    height: 60px;
}

.link .arrow {
    position: absolute;
    height: 100%;
    right: 20px;
    top: 0px;
    padding-top: 28px;
}

.link > .arrow
.link > .image-float {
    -webkit-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}

.link :hover .arrow {
    transform: translateY(-5%);
}

.link :hover .image-float {
    transform: translateY(-5%);
}

a.link {
    color: #7f8d9e;
    cursor: pointer;
    text-decoration: none;
    display: block;
}

a.link:hover {
    color: #3273dc;
}

.beacon {
    position: absolute;
    -webkit-animation: beacon 2s ease infinite, tr 2s ease-out infinite;
    animation: beacon 2s ease infinite, tr 2s ease-out infinite;
    opacity: 0.85;
    width: 60px;
    height: 60px;
    border-radius: 3px;
}

@-webkit-keyframes beacon {
    from {
        opacity: 0.85;
    }
    to {
        opacity: 0;
    }
}
@keyframes beacon {
    from {
        opacity: 0.85;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes tr {
    from {
        transform: scaleX(1) scaleY(1);
    }
    to {
        transform: scaleX(1.5) scaleY(1.5);
    }
}
@keyframes tr {
    from {
        transform: scaleX(1) scaleY(1);
    }
    to {
        transform: scaleX(1.5) scaleY(1.5);
    }
}
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.belajar {
    background-color: blue;
    box-shadow: 8px 8px 14px -8px blue;
}

.youtube {
    background-color: red;
    box-shadow: 8px 8px 14px -8px red;
}

.instagram {
    background-color: #c13584;
    box-shadow: 8px 8px 14px -8px #c13584;
}

.LinkedIn {
    background-color: #1da1f2;
    box-shadow: 8px 8px 14px -8px #1da1f2;
}

.facebook {
    background-color: #1da1f2;
    box-shadow: 8px 8px 14px -8px #1da1f2;
}

.twitter {
    background-color: #1da1f2;
    box-shadow: 8px 8px 14px -8px #1da1f2;
}

.Github {
    background-color: #2b3137;
    box-shadow: 8px 8px 14px -8px #2b3137;
}